.container {
    font-size: 15px;
    font-weight: 100;
    background-color: gainsboro;
    margin: 10px;

    border: 1px solid black; 
    padding: 20px; 

    border-color: 2px black; 
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 30px;
    width: 350px;
    align-items: center;
    border-color: solid black;
    line-height: 1.8;
    
#description {
    width: 70%; 
    height: 80px; 
}
}
.Registration { 
    float: right;
}